<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'DAFLDraft/site.css' %}"/>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.ico' %}"/>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand">
                <img src="{% static '/images/dafl_logo.jpg' %}" width="100" alt="" class="d-inline-block align-middle mr-2">
                DAFL
            </span>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">                    
                    <a href="{% url 'my-roster' %}" class="nav-link link-dark">My Roster</a>
                </li>
                <li class="nav-item">                    
                    <a href="{% url 'team-protection-list' %}" class="nav-link link-dark">My Protection List</a>
                </li>
                {% if user.username == "craig" %}
                <li class="nav-item">                    
                    <a href="{% url 'roster-add' %}" class="nav-link link-dark">Draft</a>
                </li>
                <li class="nav-item">                    
                    <a href="{% url 'team-list' %}" class="nav-link link-dark">Teams</a>
                </li>
                <li class="nav-item">                    
                    <a href="{% url 'standings' %}" class="nav-link link-dark">Standings</a>
                </li>
                <a href="{% url 'player-list1' %}" class="nav-link link-dark">Players</a>
                <!-- <a href="{% url 'all-rosters' %}" class="nav-link link-dark">All Rosters</a> -->
                <!-- <a href="{% url 'all-protection-lists' %}" class="nav-link link-dark">All Protection Lists</a> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Rosters </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% for team in teams %}
                        <li><a class="dropdown-item" href="{% url 'team-roster' teamId=team.id %}">{{ team.full_name }}</a></li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="{% url 'all-rosters' %}" class="dropdown-item nav-link link-dark">All Rosters</a></li>
                        <li><a href="{% url 'download-rosters' %}" class="dropdown-item nav-link link-dark">Download Rosters</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Protection Lists </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% for team in teams %}
                        <li><a class="dropdown-item" href="{% url 'team-protection-list' teamId=team.id %}">{{ team.full_name }}</a></li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="{% url 'all-protection-lists' %}" class="dropdown-item nav-link link-dark">All Protection Lists</a></li>
                        <li><a href="{% url 'download-protection-lists' %}" class="dropdown-item nav-link link-dark">Download Protection Lists</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>          
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{ user.username|title }}
                </li>
            </ul>
          </div>
        </div>
    </nav>
    <!-- <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav flex-row mb-2">
                    <li class="nav-item">
                        A lot more text that goes under the links and should be cleverly placed, and isn't
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <div class="body-content container">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            {% block footer %}
            {% endblock %}
            <p>&copy; 2023</p>
        </footer>
    </div>
</body>
</html>