<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'DAFLDraft/site.css' %}"/>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <span class="navbar-brand" style="line-height: 75%;">DAFL<br /><span style="font-size: 75%">({{ user.username|title }})</span></span>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">                    
                    <a href="{% url 'team-roster' %}" class="nav-link link-dark">My Roster</a>
                </li>
                <li class="nav-item">                    
                    <a href="{% url 'team-protection-list' %}" class="nav-link link-dark">My Protection List</a>
                </li>
                {% if user.username == "craig" %}
                <li class="nav-item">                    
                    <a href="{% url 'roster-add' %}" class="nav-link link-dark">Draft</a>
                </li>
                <li class="nav-item">                    
                    <a href="{% url 'team-list' %}" class="nav-link link-dark">Teams</a>
                </li>
                <a href="{% url 'player-list1' %}" class="nav-link link-dark">Players</a>
                <a href="{% url 'all-rosters' %}" class="nav-link link-dark">All Rosters</a>
                <a href="{% url 'all-protection-lists' %}" class="nav-link link-dark">All Protection Lists</a>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'roster-add' %}" class="nav-link link">Draft</a>
            </li>
            {% if not perms.team.can_view_team %}
            <li class="nav-item">
                <a href="{% url 'team-roster' %}" class="nav-link link-light">My Roster</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'team-protection-list' %}" class="nav-link link-light">My Protection List</a>
            </li>
            {% endif %}
            {% if perms. %}
            <li class="nav-item">
                <a href="{% url 'team-list' %}" class="nav-link link-light">Teams</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'owner-list' %}" class="nav-link link-light">Owners</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'player-list' %}" class="nav-link link-light">Players</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link link-light">About</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link link-light">Logout</a>
            </li>
            <li class="nav-item topnav-right">
                <span>{{ request.user.username }}</span>
            </li>
        </ul>
    </div> -->

    <div class="body-content container">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            {% block footer %}
            {% endblock %}
            <p>&copy; 2023</p>
        </footer>
    </div>
</body>
</html>