{% extends "DAFLDraft/layout.html" %}
{% block title %}
Players
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Players</h1>
    </div>
    <div class="col-12">
        <a href="{% url 'player-add' %}">Add Player</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <!-- <th>Salary</th> -->
            <tr><th>Name</th><th>id</th><th>fid</th><th>POS</th><th>ADP</th><th>Value</th><th>AB/IP</th><th>Hits/ER</th><th>AVG/ERA</th><th>HR/W</th><th>RBI/SO</th><th>SB/Saves</th><th>Runs/Holds</th></tr>
            {% for obj in object_list %}
                <tr class="{% if not obj.isPlayerAvailable %}playerTaken{% endif %}">
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.fangraphs_id }}</td>
                    <td>{{ obj.eligible_positions }}</td>
                    <td>{{ obj.adp|floatformat:1 }}</td>
                    <!-- {% if obj.roster %}
                    <td>obj.roster.salary</td>
                    {% else %}
                    <td>0</td>
                    {% endif %} -->
                    <td>{{ obj.value|floatformat:1 }}</td>
                    <td>{{ obj.stat5|floatformat:0 }}</td>
                    <td>{{ obj.stat6|floatformat:0 }}</td>
                    {% if obj.isPitcher %}
                        <td>{{ obj.ERA|floatformat:3 }}</td>
                    {% else %}
                        <td>{{ obj.BA|floatformat:4 }}</td>
                    {% endif %}
                    <td>{{ obj.stat1|floatformat:0 }}</td>
                    <td>{{ obj.stat3|floatformat:0 }}</td>
                    <td>{{ obj.stat2|floatformat:0 }}</td>
                    <td>{{ obj.stat4|floatformat:0 }}</td>
                </tr>
            {% endfor %}    
        </table>
    </div>
</div>
{% endblock %}